.jww-custom-child {
  background-color: transparent;
  box-shadow: none;
  padding-top: 0;

  .banner,
  .main-content {
    background-color: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    padding: 40px;
  }

  .banner {
    margin: 0 0 20px 0;

    h1 {
      font-size: 1.5em;
      line-height: 1.7em;
      border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    p {
      margin: 0;
      opacity: 0.7;
      font-size: .9em;
    }
  }
}